
body, html {
   
    background-color: #f8e3af;
    background-size: cover;   
    /* Set up proportionate scaling */
    width: 100%;
    height: 100%;

    /* position: fixed; */
    top: 0;
    left: 0;
    color:#e76f51;
  
  }
  .nav-style{
      color: white;
      font-size: 120%;
      font-family: 'Montserrat', sans-serif;
      font-display: "block";
      font-weight: 800;
      background-color: #2a9d8f;
      text-align: left;
      
  }

  * {box-sizing: border-box;}

  .img-style{
    right: 0;
    background-color:#e76f51;
    position: relative;
    float:right;
    /* padding-top: 0px;
    padding-right: 50px;
    padding-bottom: 60px;
    padding-left: 80px;   */
  }

 
    .intro{
        height:100%
      }
      
      .left{
        display : flex;
        justify-content : center;
        align-items : center;
        background-color:#f8e3af;
        height : 100%;
        color : #FFF;
      }
      .right{
        display : flex;
        justify-content : center;
        align-items : center;
        background-color:#e76f51;
        height : 100%;
        background-size:cover;
        width:100%;
        padding-bottom: 100px;
        

      }
      
      @media (max-width: 1200px) { 
        .left{
          height:50%
        }
        .right{
          height:100%
        }
      }
      .about{
        display : flex;
        justify-content : left;
        align-items : left;
        background-color:#2a9d8f;
        color : #FFF;
        height: 50px;
      }

      .mfonts{
      font-size: 500%;
      font-family: 'Modak', cursive;
      font-weight: 400;
      /* background-color: #2a9d8f; */
      color:#e9c46a;
      text-shadow: 5px 5px 5px #e76f51,
               5px 5px 5px #e76f51;

      }

      .mmfonts{
        color:#2a9d8f;
        
        /* font-family: 'Modak', cursive; */
        font-family: 'Montserrat', sans-serif;
        font-weight: 800;
        font-display: block;
        font-size: 100%;
      }

    
      .button {
        display: inline-block;
        border-radius: 4px;
        background-color: #f4511e;
        border: none;
        color: #f4511e;
        text-align:center;
        font-size: 15px;
        padding: 20px;
        height: 50px;
        width: 160px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

      .button span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .button span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .button:hover span {
        padding-right: 25px;
      }
      
      .button:hover span:after {
        opacity: 1;
        right: 0;
      }
      
 