<!DOCTYPE html>
<html lang="en">

<head>
    <title>project</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Modak&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Modak&family=Montserrat&display=swap" rel="stylesheet">

    <link rel="icon"
        href="https://st.depositphotos.com/1368414/3476/i/600/depositphotos_34768023-stock-photo-reach-out.jpg"
        type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <link rel="stylesheet" href="{{url_for('static',filename='CSS/map.css')}}">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    
</head>

<body>

      
      <!-------SCREEN SPLITTING-->
      <section class="about" height="50px">
        <div height="100">
            <nav class="navbar navbar-expand-sm navbar-dark navbaar justify-content-center nav-style">
              <ul class="navbar-nav"> 
                <li class="nav-item">
                  <a class="nav-link py-0 text-light" href="#"> Know Your Sadhya</a>
                </li>
              </ul>  
            </nav>
        </div>
      </section>

      <section class="intro">

        <div class="container-fluid">
        <div class="row">

          <div class="col-lg-7 col-sm-12 left" width="100%" style="margin:0 ;position: sticky;">
            <ul>
              <li>
                <p><h1 class="mfonts">Make way for the emperor,<br>
                  Back in his Kingdom, <br>
                  Hungry as hell.<br></h1>
                </p>
              </li>
              <li>
                <p class="mmfonts">Let's take a troll with him,<br>
                  From north to south, East to west,<br>
                  See what his folks have in the store for him,<br>
                  To feed his heart and tummy.<br>
                </p>
            </li>
            <br>
            <form class="align-self-baseline" method="post">
            <button type="submit" class="btn btn-dark mb-4 button text-light"><span>Explore</span></button>
            </form>
          </ul>

          </div>

          <div class="col-lg-5 col-sm-12 right" width="100%">
            <p>
            <img src="/static/k1.png" width="340" height="500" class="img-style">
            <!-- <br>
            <br>
            <br>
            <br> -->
            </p>
            
          </div>
        </div>
        </div>
      </section>
     
   


      
   
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>